@mixin button-style {
    border: none;
    border-radius: 10px;
    background-color: #6d81ec;
    height: 40px;
    margin: 20px 0;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 700;
    font-style: italic;
    color: #ffffff;
    letter-spacing: 4px;
    transition: transform .2s linear;
    &:hover {
        transform: scale(.9);
    }
}

.app {
    max-width: 100%;
    width: 100%;
    height: 100vh;
    padding: 20px 40px;
    background-color: #dfe6f6;
    display: flex;
    justify-content: center;
    @media (max-width: 500px) {
        padding: 20px;
    }
    .game-wrapper {
        width: 100%;
        text-align: center;
        .game-title {
            font-size: 48px;
            font-weight: 700;
            color: #6d81ec;
            @media (max-width: 500px) {
                font-size: 40px;
            }
        }
        .start-button {
            @include button-style();
            max-width: 200px;
        }
        .score {
            font-size: 24px;
            font-weight: 700;
            color: #6d81ec;
            font-style: italic;
            margin-top: 20px;
        }
        .loading {
            margin-top: 10px;
            font-size: 1rem;
            color: #6d81ec;
        }
        .next-button {
            @include button-style();
        }
    }
}